<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">

    </head>
    <body>
<!--                                                             
#    #   ##   #    #         #     #    #  ####  #    # ###### 
##   #  #  #  #    #        #      #    # #    # ##  ## #      
# #  # #    # #    #       #       ###### #    # # ## # #####  
#  # # ###### #    #      #        #    # #    # #    # #      
#   ## #    #  #  #      #         #    # #    # #    # #      
#    # #    #   ##      #          #    #  ####  #    # ###### 
-->
        <section class="home">
            <header>
            <nav>
                <ul>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Depoimentos</a></li>
                <li><a href="#">Casos de sucesso</a></li>
                <li><a href="#">Fale conosco</a></li>
                </ul>
            </nav>
            </header>
            
            <div class="box">
                <h1>Anjos do bem</h1>
                <div class="icons">
                    <a href="a" target="_blank">
                        <%= image_tag "facebook.svg" %>
                    </a>
                    <a href="a" target="_blank" id="central">
                        <%= image_tag "instagram.svg" %>
                    </a>
                    <a href="a" target="_blank">
                        <%= image_tag "share.svg"%>
                    </a>                        
                </div>
                <h2>Saiba mais sobre nós</h2>
                <div class="arrow"></div>
            </div>
        </section>


<!--
    #    ######  ####### #     # ####### 
   # #   #     # #     # #     #    #    
  #   #  #     # #     # #     #    #    
 #     # ######  #     # #     #    #    
 ####### #     # #     # #     #    #    
 #     # #     # #     # #     #    #    
 #     # ######  #######  #####     #  
-->

        <section class="about">
            <div class ="container">
                <div class="frase1">
                    <h1>Quem somos?</h1>
                    <p class="description description-1">Marzipan jelly marshmallow tart soufflé powder tootsie roll chupa chups pastry. Cotton candy macaroon fruitcake fruitcake macaroon jelly gummi bears. Lollipop lemon drops croissant lemon drops liquorice chocolate bar chocolate cake. Wafer icing tiramisu halvah jelly-o chocolate bar candy canes. Cupcake macaroon pastry. Sugar plum cake sesame snaps oat cake. Chupa chups dessert jelly-o toffee sweet roll candy macaroon jelly beans. Icing ice cream chupa chups. Chocolate bar lollipop danish dessert croissant brownie sweet roll muffin.</p>
                </div>
                <section class = "pictures">
                    <div class="pics-animals">
                        <%= image_tag "image2.png" , class: "dog"%>
                        <%= image_tag "image3.png" , class: "cat"%>
                    </div>
                </section>
                <div class="frase2">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna in”</p>
                    <p id="noa">-NOA</p>
                </div>
                <div class="info">
                    <p id="title-text">So what does the new record for the lowest level of winter ice actually mean</h3>
                    <p class="text description-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi quis hendrerit dolor magna eget est lorem. Varius morbi enim nunc faucibus a pellentesque sit. Sed velit dignissim sodales ut eu sem integer vitae justo</p>
                    <p class="text description-2">odio morbi quis commodo odio aenean sed. Morbi leo urna molestie at elementum. Lectus urna duis convallis convallis tellus id interdum velit. Quis ipsum suspendisse ultrices gravida. Pharetra diam sit amet nisl suscipit adipiscing. Risus nullam eget felis eget nunc lobortis mattis.</p>
                    <p class="text description-2">Tempor orci eu lobortis elementum nibh tellus molestie. Diam vel quam elementum pulvinar etiam. Tortor condimentum lacinia quis vel eros. Facilisis mauris sit amet massa vitae. Eu non diam phasellus vestibulum lorem. </p>
                    <p class="text description-2">Risus feugiat in ante metus dictum at. Turpis in eu mi bibendum neque egestas congue quisque. Venenatis cras sed felis eget velit. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. </p>
                    
                </div>
                
                <%= image_tag  "image4.png", class: "girl"%>
                
            </div>

        </section>


<!--                                                
  ####  #    # #####     ##### ######   ##   #    # 
 #    # #    # #    #      #   #       #  #  ##  ## 
 #    # #    # #    #      #   #####  #    # # ## # 
 #    # #    # #####       #   #      ###### #    # 
 #    # #    # #   #       #   #      #    # #    # 
  ####   ####  #    #      #   ###### #    # #    #                                                
-->

        <section class="our-team">
                <div class="team">
                    <h1>Nossa  Equipe</h1>
                    <p class = "description-1" id="d1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi quis hendrerit dolor magna eget est lorem. Varius morbi enim nunc faucibus a pellentesque sit. </p>
                </div>

                <div class = "boxes">
                    <div class="box2">
                        <p class="text-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="fas fa-quote-right"></i>
                        <p class="guerreiro">Gabriel Guerreiro</p>
                        <p class = "arroba">@gabrieldwho</p>
                    </div>
                    <div class="box2">
                        <p class="text-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="fas fa-quote-right"></i>
                        <p class="guerreiro">Gabriel Guerreiro</p>
                        <p class = "arroba">@gabrieldwho</p>
                    </div>
                    <div class="box2">
                        <p class="text-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="fas fa-quote-right"></i>
                        <p class="guerreiro">Gabriel Guerreiro</p>
                        <p class = "arroba">@gabrieldwho</p>
                    </div>
                </div>
        </section>

<!--                                                                                      
  ####  #    #  ####   ####  ######  ####   ####      ####    ##    ####  ######  ####  
 #      #    # #    # #    # #      #      #         #    #  #  #  #      #      #      
  ####  #    # #      #      #####   ####   ####     #      #    #  ####  #####   ####  
      # #    # #      #      #           #      #    #      ######      # #           # 
 #    # #    # #    # #    # #      #    # #    #    #    # #    # #    # #      #    # 
  ####   ####   ####   ####  ######  ####   ####      ####  #    #  ####  ######  ####  
-->

        <section class="success-cases">
            <h1>Casos de sucesso</h1>
            <div class="cats cats-1">
                <%= image_tag "cat.png" , class: "cat-image"%>
                <%= image_tag "cat.png" , class: "cat-image"%>
                <%= image_tag "cat.png" , class: "cat-image"%>
            </div>
            <div class="cats cats-2">
                <%= image_tag "cat.png" , class: "cat-image"%>
                <%= image_tag "cat.png" , class: "cat-image"%>
            </div>
        </section>

<!--
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   
-->
        <section class = "contact">
            <h2>Fale conosco</h2>
            <p>Seu contato é muito importante pra gente</p>
            <form>
                <label for="name" class="contact-titles">Primeiro nome</label></br>
                <input type="text" id="name" name="name" class="contact-box" placeholder="&#xf2bd; Primeiro nome..."></br>
        
                <label for="email" class="contact-titles">Email</label></br>
                <input type="text" id="email" name="email" class="contact-box" placeholder="&#xf0e0; email@email.com"></br>
                    
                <label for="mensage" class="contact-titles contact-titles-3">Escreva uma mensagem...</label></br>
                <input type="text" id="mensage" class="contact-box-2"/>
            
                <input type="submit" value="Mandar mensagem" class="send">
            </form>
        </section>

<!--    
 ####### ####### ####### ####### ####### ######  
 #       #     # #     #    #    #       #     # 
 #       #     # #     #    #    #       #     # 
 #####   #     # #     #    #    #####   ######  
 #       #     # #     #    #    #       #   #   
 #       #     # #     #    #    #       #    #  
 #       ####### #######    #    ####### #     # 
-->

        <section class = "footer">

            <div class="icons">
                <a href="a" target="_blank">
                    <%= image_tag "facebook-pink.svg", class: "icons-content"%>
                </a>
                <a href="a" target="_blank" id="central">
                    <%= image_tag "instagram-pink.svg", class: "icons-content"%>
                </a>
                <a href="a" target="_blank">
                    <%= image_tag "share-pink.svg", class: "icons-content"%>
                </a>                        
            </div>
            
            <h1>Desenvolvido por</h1>
            <a href="https://injunior.com.br/" target="_blank">
                <%=image_tag "logo.png", id: "logo"%>
            </a>
        <button onclick="topFunction()" id="back-to-top">^</button>
        </section>
    </body>
</html>