$rosa-primario: #ffb6c0;
$rosa-secundario: rgba(255, 182,192,0.8);
$branco-primario: #FFF;
$branco-secundario: #FFFEE8;
$cinza-primario: #333;
$cinza-secundario: #CECECE;

@font-face {
    font-family: 'Titan';
    src: asset-url('TitanOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    src: asset-url('Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Carter';
    src: asset-url('CarterOne.ttf') format('truetype');
 }

 @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Regular.ttf') format('truetype');
 }