@import 'fonts-and-colors.scss';


/*                                                             
#    #   ##   #    #         #     #    #  ####  #    # ###### 
##   #  #  #  #    #        #      #    # #    # ##  ## #      
# #  # #    # #    #       #       ###### #    # # ## # #####  
#  # # ###### #    #      #        #    # #    # #    # #      
#   ## #    #  #  #      #         #    # #    # #    # #      
#    # #    #   ##      #          #    #  ####  #    # ###### 
*/

.home {
	
    background: {
        image: url("animal.png") ;
        size: cover;
        repeat: no-repeat !important; 
    }

    height: 100vh;
    color: $branco-secundario;
    font-family: 'Titan';
    text-align: center;

	& .box {
		position: absolute;
		top: 70%;
		left: 50%;
        transform: translate(-50%, -50%);
    }
    
	& h1 {
		font-size: 4em;
		letter-spacing: 4px;
		margin-bottom: 8%;
    }
    
    
    & h2 {
        position: relative;
        margin-top: 10vh;
        font: {
            family: 'Carter';
            size: 1.4em;
        }
    }

    
	& .arrow {
		height: 28px;
		width: 28px;
		margin: 0 auto;
		border-left: solid 8px $branco-secundario;
		border-bottom: solid 8px $branco-secundario;
		transform: rotate(-45deg);
		border-radius: 10%;
    }
    
    & img {
        width: 70px;
		height: 75px;
		

	}

	#central{
		margin: 20vh;
	}
    
  
}

/*
    #    ######  ####### #     # ####### 
   # #   #     # #     # #     #    #    
  #   #  #     # #     # #     #    #    
 #     # ######  #     # #     #    #    
 ####### #     # #     # #     #    #    
 #     # #     # #     # #     #    #    
 #     # ######  #######  #####     #    
                                         
*/

.about {
    margin-top: 15vh;
    margin-bottom: 5vh;
    position: absolute;
    h1 {
      color: $rosa-primario;
      font-family: "Titan";
      font-size: 1.625em;
      margin-bottom: 5%;
    }
  
  
    .description-1 {
        font-family: "Comfortaa";
        font-size: 1em;
        line-height: 1.2em;
        margin: 8vh 4vw;
    }
  
    .frase1 {
        position: absolute;
        text-align: center;
        max-width: 85%;
        margin-left: 10%;
    }
  
    .pics-animals img {
        border-radius: 4px;
        box-shadow: 0px 5px 5px #b9b9b9;
        &:nth-child(2) {
        float: right;
        transform: translateY(-100px);
        }
    }
  
    .dog {
        margin-left: 10%;
        margin-top: 20%;
    }
    
    .cat {
        margin-left: 10%;
    }
    
    .pics-animals {
        max-width: 90%;
    }
    
    .frase2 {
        max-width: 251px;
        position: absolute;
        margin-left: 15%;
        margin-top: 10%;
        z-index: -1;
        font-family: "Comfortaa";
        font-size: 18px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.15em;
        color: #F9AFBD;
        border: 1px solid #F9AFBD;
        padding: 40px;
    }
    
    #noa {
        margin-top: 15px;
    }
    
    .info {
        text-align: left;
        margin-right: 2%;
        float: right;
    }
    
    #title-text {
        max-width: 485px;
        font-family: "Montserrat";
        font-size: 24px;
        letter-spacing: 0.06em;
        margin-bottom: 5%;
    }
    
    .description-2 {
        max-width: 428px;
        font-family: "Comfortaa";
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 3%;
    }
    
    .girl {
        position: absolute;
        width: 54%;
        height: 23%;
        left: 0px;
        top: 1150px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

/*                                                  
  ####  #    # #####     ##### ######   ##   #    # 
 #    # #    # #    #      #   #       #  #  ##  ## 
 #    # #    # #    #      #   #####  #    # # ## # 
 #    # #    # #####       #   #      ###### #    # 
 #    # #    # #   #       #   #      #    # #    # 
  ####   ####  #    #      #   ###### #    # #    #                                                                               
*/

.our-team {
    position: absolute;
    top: 2400px;
    background: {
        image: url("adorable-animal-cat-730896.png");
        size: cover;
        repeat: no-repeat;
    }

    height: 737px;
    color: $branco-primario;
    text-align: center;

    .team {
        margin-top: 5%;
        text-align: center;
        max-width: 85%;
        margin-left: 10%;
        h1 {
        color: $branco-primario;
        font-family: "Titan";
        font-size: 1.625em;
        margin-bottom: 5%;
        }
    }

    #d1 {
        max-width: 57%;
        margin-left: 20%;
        font-family: "Comfortaa"
    }

    .boxes {
        display: flex;
        margin-left: 15%;
        margin-top: 10%;
    }

    .box2 {
        font-family: "Comfortaa";
        font-size: 14px;
        text-align: center;
        background-color: #F3F3F3;
        border-radius: 4px;
        border: none;
        width: 261.15px;
        height: 300px;
        margin-left: 3%;

        &::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: none;
        background: #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        top: 39%;
        }
    }

    .text-box {
        width: 202.89px;
        margin-top: 30%;
        color: #C4C4C4;
        margin-left: 10%;
    }

    i {
        color: #F9AFBD;
        font-size: 36px;
        margin-top: 10%;
    }

    .guerreiro {
        font-family: "Comfortaa";
        font-size: 18px;
        text-align: center;
        color: #252525;
        margin-top: 5%;
    }

    .arroba {
        font-family: "Comfortaa";
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #B8B7B7;
        margin-top: 3%;
    }

}

/*
  ####  #    #  ####   ####  ######  ####   ####      ####    ##    ####  ######  ####  
 #      #    # #    # #    # #      #      #         #    #  #  #  #      #      #      
  ####  #    # #      #      #####   ####   ####     #      #    #  ####  #####   ####  
      # #    # #      #      #           #      #    #      ######      # #           # 
 #    # #    # #    # #    # #      #    # #    #    #    # #    # #    # #      #    # 
  ####   ####   ####   ####  ######  ####   ####      ####  #    #  ####  ######  ####  
*/

.success-cases {
    position: absolute;
    background-color: white;
    top: 3200px;
    height: 100vh;
    width: 100%;
    text-align: center;
    h1 {
      color: var(--rosa-primario);
      font-family: "Titan";
      font-size: 36px;
      margin-bottom: 5%;
      text-align: center;
    }

  
    .cats-img {
        width: 331px;
        height: 186px;
        z-index: 5;
    }
    
    .cat-image::after {
        position: absolute;
        content: '';
        width: 331px;
        height: 186px;
        border: none;
        background: #F9AFBD;
    }
}

/*
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   
*/

.contact {
    position: absolute;
    background-color: white;
    top: 3900px;
    height: 70vh;
    width: 100%;

  
    .form {
        padding: 0 100px;
    }
    
    .contact-box {
        width: 40%;
        height: 45px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 50px;
        color: #C4C4C4;
        padding: 20px;
        font-family: fontawesome;
        margin-left: 30%;
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .send {
        letter-spacing: 0.025em;
        color: #FFFFFF;
        background: #F9AFBD;
        border-radius: 50px;
        border: none;
        margin-left: 30%;
        width: 40%;
        height: 45px;
        font-family: "Comfortaa";
        font-size: 18px;
        text-align: center;
        color: #FAFAFA;
    }
    
    
    h2 {
        font-family: "Titan";
        font-size: 36px;
        text-align: center;
        color: #F9AFBD;
    }
    p {
        font-family: "Comfortaa";
        font-size: 18px;
        text-align: center;
        color: #F9AFBD;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    
    .contact-titles {
        height: 21px;
        font-family: "Comfortaa";
        line-height: 20px;
        font-size: 18px;
        letter-spacing: 0.025em;
        color: #252525;
        margin-left: 30%;
    }

    .contact-titles-3{
        font-size: 14px;
        color: #000000;
    }
    
    .contact-box-2 {
        margin-left: 30%;
        border-style: none none solid none !important;
        box-shadow: none !important;
        border-width: 0 0 2px 0 !important;
        resize: none !important;
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #000000;
    }
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #DADADA;
    top: 4400px;
    height: 20%;
    display: flex;

    .icons-content {
      width: 70px;
      height: 75px;
      
    }
    
    .icons {
      margin-top: 2%;
      margin-left: 10%;
      display: flex;
    }

    
    #logo {
        position: absolute;
        right: 10%;
        margin-top: 1%;
    }
    
    h1 {
        font-family: "Titan";
        font-size: 18px;
        color: #7F7F7F;
        position: absolute;
        right: 23%;
        margin-top: 4%;
        margin-right: 1%;
    }

    #central{
        margin-left: 20%;
        margin-right: 20%;
    }
}

/*

########     ###     ######  ##    ##    ########  #######     ########  #######  ########  
##     ##   ## ##   ##    ## ##   ##        ##    ##     ##       ##    ##     ## ##     ## 
##     ##  ##   ##  ##       ##  ##         ##    ##     ##       ##    ##     ## ##     ## 
########  ##     ## ##       #####          ##    ##     ##       ##    ##     ## ########  
##     ## ######### ##       ##  ##         ##    ##     ##       ##    ##     ## ##        
##     ## ##     ## ##    ## ##   ##        ##    ##     ##       ##    ##     ## ##        
########  ##     ##  ######  ##    ##       ##     #######        ##     #######  ##        

*/
#back-to-top {
    width: 70px;
    height: 70px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(244, 170, 185, 0.9);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    font-size: 5em;
    transition: opacity, 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
    &:hover {
      background-color: #F4AAB9;
    }
  }