@import 'fonts-and-colors';

nav {
  position:absolute;
  right: 10%;
    & ul li {
      display: inline-block;
      margin: 15px 5px;
      font-size: 1.125em;
      
    }
    & a {
      color: $branco-secundario;
      text-decoration: none;
      border-radius: 20px;
      padding: 8px 20px;
      transition: 0.3s;
      &:hover {
        background-color: $rosa-secundario;
        transition: 1s;
      }
      &:visited{
        color: $branco-secundario;
      }
    }
    & ul li {
      &:nth-child(2)::before, &:nth-child(3)::before, &:nth-child(4)::before {
        display: inline-block;
        content: "";
        height: 35px;
        width: 2px;
        background-color: $rosa-primario;
        position: relative;
        top: .5em;
        left: -7px;
      }
    }
  }

